header {
    background-color: #4e42d4;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: #140f0d;
}

header h2 {
    color: white;
    float: right;
    padding-right: 35px;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 68px;
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: inline-block;
}

p {
    display: inline-block;
    color: white;
}


div {
    margin-top: 5%;
    text-align: center;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: black;
    border-radius: 10%;
}

#pixel{
    display: inline-block;
    border: 2px solid white;
    width: 25%;
    height: 450;
    margin-right: 5%;
}

#nlw{
    display: inline-block;
    border: 2px solid white;
    width: 27.6%;
    height: 450;

}

#list {
    margin-top: 5%;
    display: inline-block;
    border: 2px solid white;
    height: 30;
}
















footer {
    margin-top: 5%;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 2.5rem;
    color: white;
  }

