header {
    background-color: #4e42d4;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

body {
    background-color: #140f0d;
    width: 100%;
}

header h2 {
    color: white;
    float: right;
    padding-right: 35px;
}

header a {
    color: white;
    text-decoration: none;
}

