header{
    background-color: #7950F2;
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
}
body{
    background-color: #0d0d0d;
}
#introducao{
    position: relative;
    color: white;
    top: 200px;
    left: 85px;
    font-family: 'Times New Roman';
    font-size: 40px;
    margin: auto;
    font-weight: bold;
}
#competencias{
    position: relative;
    color: white;
    top: 230px;
    left: 85px;
    font-family: 'Times New Roman';
    font-size: 20px;
    margin: auto;
    font-weight: bold;
    padding-top: 15px;
}
h2{
    color: white;
    float: right;
}
section{
    height: 25px;
    margin: 0;
    position: relative;
    top: 58px;
}
img{
    position: relative;
    padding-bottom: 15px;
    display: block;
    height: 100%;
}
#projeto{
    margin-right: 75px;
}
#redes{
    margin-right: 35px;
}
