@media (max-width : 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: #272749;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: #4e42d4;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: auto;
    }
    

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }
    
    li {
        color: whitesmoke;
        margin: 15px;
        font-size: 120%;
    }

    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }


    #container {
        margin-top: 50px;
        width: 100%;
        display: inline;
        text-align: center;
        align-items: center;
    }

    aside {
        color: white;
        margin-top: 20px;
        font-size: medium;
    }

    img {
        width: 50%;
        border-radius: 50%;
    }
    

    #container {
        color: whitesmoke;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
    }
    footer {
        margin-top: 5%;
        align-items: center;
        text-align: center;
        position: relative;
        top: 350px;
        height: 2.5rem;
        color: white;
    } 
}
