@media (min-width :0px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: #272749;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    header {
        background-color: #4e42d4;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: auto;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    li {
        margin: 15px;
    }

    #introducao {
        position: relative;
        color: white;
        top: 200px;
        font-family: 'Times New Roman';
        font-size: medium;
        margin: auto;
        font-weight: bold;
    }

    #competencias {
        position: relative;
        color: white;
        top: 230px;
        font-family: 'Times New Roman';
        font-size: small;
        margin: auto;
        font-weight: bold;
        padding-top: 15px;
    }

    #curriculo {
        position: relative;
        color: white;
        top: 350px;
        /* left: 85px; */
        font-family: 'Times New Roman';
        font-size: medium;
        margin: auto;
        font-weight: bold;
        padding-top: 15px;
    }

    #curriculos {
        position: relative;
        color: white;
        top: 350px;
        /* left: 27px; */
        font-family: 'Times New Roman';
        font-size: small;
        margin: auto;
        font-weight: bold;
        padding-top: 15px;
        
    }

    header h2 {
        color: white;
        display: block;
        float: left;
        padding-right: 10px;
    }

    header a {
        color: white;
        text-decoration: none;
    }


    #projeto {
        margin-right: 75px;
    }

    section {
        height: 25px;
        margin: 0;
        position: fixed;
        top: 220px;
        width: 15px;
    }

    .button:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: black;
        border-radius: 10%;
    }

    #icons {
        margin-right: 15px;
    }

    #redes {
        position: relative;
        display: block;
        height: 100%;
        margin-top: 15px;
        padding-left: 15px;
    }

    img {
        margin-top: 25px;
        position: relative;
        border-radius: 50%;
        width: 25%;
        float: right;
        margin-right: 20%;
        bottom: 100px;
    }


    footer {
        margin-top: 5%;
        align-items: center;
        text-align: center;
        position: relative;
        top: 350px;
        height: 2.5rem;
        color: white;
    } 
}
